<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <form method="post" action="/summoner">
    <div>
      <input type="text" name="summonerName" placeholder="Summoner name">
    </div>

    <div>
      <label>Platform:</label>
      <select name="platform">
        <option value="br1.api.riotgames.com">BR1</option>
        <option value="na1.api.riotgames.com">NA1</option>
      </select>
    </div>

    <input type="submit" value="search">
  </form>
</body>

</html>
